html, body {
  font-family: 'DM Sans', sans-serif;
}
body {
  background-color: #f9f8ff;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
a, a:hover, a:focus {
  text-decoration: none;
}
h1 {
  font-weight: 500;
  font-size: 68px;
}
h2 {
  font-weight: 500;
  font-size: 48px;
}
h3 {
  font-weight: bold;
  font-size: 22px;
  color: #3B3E43;
}
.main {
}
.container {
  width: 100%;
  max-width: 1180px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header {
  position: relative;
  margin-bottom: 415px;
  min-height: 1028px;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 230px;
  background: url(/img/bg/main-bg.png) bottom center / cover no-repeat;
}
.header__nav {
  margin-bottom: 100px;
  padding: 30px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.logo {
  margin-right: 20px;
}
.logo__link {
  display: inline-block;
}
.logo__image {
}
.logo__img {
  width: 100%;
  min-width: 260px;
  height: auto;
}
.nav {
  padding-inline: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
}
.nav__item-link {
  padding: 15px;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}
.nav__item-link:hover,
.nav__item-link:focus {
  text-shadow: 0 0 1px #fff;
}
.header__button {
  margin-left: 20px;
}
.get__btn {
  padding: 20px 50px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #57B3FE;
  background: #FFFFFF;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}
.header__info {
  text-align: center;
  color: #fff;
}
.header__title {
  margin-bottom: 20px;
}
.header__subtitle {
  display: inline-block;
  margin-bottom: 50px;
}
.header__picture {
  position: relative;
}
.header__img {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1235px;
  height: auto;
}
.cards {
  margin-bottom: 185px;
  background-image: url(/img/bg/second\(left\).png), url(/img/bg/second\(right\).png);
  background-position: bottom left, top right;
  background-repeat: no-repeat;
}
.cards__text {
  margin-bottom: 25px;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #00A077;
  opacity: 0.5;
}
.cards__title {
  margin-bottom: 30px;
}
.row__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.card {
  padding: 50px 15px 50px 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
  border-radius: 15px;
}
.card__icon {
  margin-bottom: 20px;
  width: 100%;
  max-width: 50px;
  height: auto;
}
.card__title {
  margin-bottom: 15px;
}
.card__text {
  font-size: 16px;
  line-height: 1.5;
  color: #595E64;
}
.process {
  margin-bottom: 185px;
  padding-top: 195px;
  padding-bottom: 185px;
  text-align: center;
  background: #8C80FC url(/img/bg/third.jpg) top center / cover no-repeat;
}
.process__text {
  margin-bottom: 15px;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
}
.process__title {
  margin-bottom: 25px;
  color: #fff;
}
.process__subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.7;
  color: #FFFFFF;
}
.row_process {
}
.process-card {
  position: relative;
  margin-bottom: 40px;
  padding: 30px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
  border-radius: 15px;
}
.process-card:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  height: 100px;
  border: 2px dashed #fff;
  transform: translateX(-50%);
}
.process-card__image {
  margin-right: 50px;
  flex: 0 1 50%;
}
.process-card__img {
  width: 100%;
  height: auto;
}
.process-card__info {
  flex: 0 0 50%;
  text-align: left;
}
.process-card__icon {
  margin-bottom: 20px;
  width: 100%;
  max-width: 50px;
  height: auto;
}
.process-card__title {
  margin-bottom: 15px;
}
.process-card__text {
  font-size: 16px;
  line-height: 1.5;
  color: #595E64;
}
.brands {
  margin-bottom: 185px;
  text-align: center;
}
.brands__subtitle {
  margin-bottom: 25px;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #00A077;
  opacity: 0.5;
}
.brands__title {
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 1.5;
  color: #3B3E43;
}
.row__brands {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 110px;
}
.column__brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand__img {
  width: 100%;
  height: auto;
}
.brand__text {
  font-size: 16px;
  line-height: 1.4;
  color: #424A4D;
}
.about {
  padding-top: 115px;
  padding-bottom: 140px;
  background: linear-gradient(250deg, #35D3FF -1%, #A963FB 104%);
}
.about__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__info {
  max-width: 400px;
}
.about__subtitle {
  margin-bottom: 25px;
  display: inline-block;
  font-size: 12px;
  line-height: 122%;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
}
.about__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.5;
  color: #FFFFFF;
}
.about__text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}
.about__image {
  margin-right: -75px;
}
.about__img {
}
.footer {
  padding-top: 85px;
  padding-bottom: 35px;
  background-color: #0D0D0D;
}
.footer__nav {
  margin-bottom: 27px;
  padding-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #626262;
}
.sosials {
}
.socials__link:not(:last-child) {
  margin-right: 20px;
}
.social__image img{
  width: 100%;
  max-width: 20px;
  height: auto;
}
.terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}
.copyright {
  color: rgba(255, 255, 255, 0.8);
}
.terms__link {
  color: rgba(255, 255, 255, 0.8);
}
.terms__link:not(:last-child) {
  margin-right: 25px;
}
@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}